@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}
body {
    overflow-x: hidden;
}
.newA {
    width: 70%;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    background-color: whitesmoke;
    gap: 10px;
    background-image: url("https://images5.alphacoders.com/316/316914.jpg");
    background-size: 100% 100%;
    overflow-y: scroll;
}
.mainH {
    color: black;
    font-size: 35px;
    margin: 20px 0px;
}
.newWrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.new {
    width: 100%;
    height: 200px;
    background-color: #0f1d1c;
    padding: 30px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}
.newMore{
    width: 70%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #0f1d1c;
    padding: 50px 0px;
    border-radius: 20px;
    position: relative;
}
.addNew{
    font-size: 26px;
    text-decoration: underline;
    color: #0f1d1c;
    text-align: center;
    font-weight: bold;
}
.newImg {
    height: 150px;
    width: 180px;
    border: 2px solid white;
    border-radius: 35px 0px 35px 0px;
}
.newImgMore{
    width: 70%;
    height: 300px;
    border-radius: 35px 0px 35px 0px;
    border: 2px solid white;
}
.newImg2 {
    height: 100%;
    width: 150px;
    border: 2px solid white;
    border-radius: 0px 35px 0px 35px;
}
.newImg2More{
    width: 70%;
    border: 2px solid white;
    border-radius: 35px 0px 35px 0px;
    display: none;
}
.newContent {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.newContentMore{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.newName {
    font-size: 26px;
}
.newNameMore{
    font-size: 32px;
    margin: 10px 0px;
}
.newDate {
    text-align: right;
}

.deleteBtn{
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
}
.backBtn{
    font-size: 24px;
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
}
input{
    color: black;
}
textarea{
    color: black;
}
.addNewsWrapper{
    width: 100%;
    min-height: 100vh;
    background-image: url("https://images3.alphacoders.com/210/210105.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addNewsBox{
    width: 60%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: white;
}
.addNewsH{
    font-size: 30px;
    color: #0f1d1c;
}
.addNewsBox > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addInp{
    padding: 10px;
    font-size: 18px;
    width: 300px;
}
.addArea{
    width: 300px;
    padding: 10px;
    font-size: 18px;
}
.addBtn{
    width: 100px;
    padding: 10px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    margin: auto;
}