<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"/>
    <link href="../static/garage.css" th:href="@{/garage.css}" rel="stylesheet"/>
    <link href="../static/header.css" th:href="@{/header.css}" rel="stylesheet"/>
    <link href="../static/footer.css" th:href="@{/footer.css}" rel="stylesheet"/>
    <link href="../static/carousel.css" th:href="@{/carousel.css}" rel="stylesheet"/>

</head>
<body>
<div th:insert="blocks/header::header"></div>

<main class="garageMore">
            <h2 class="carH1">Electrocar </h2>
            <div class="product-container">
                    <div class="carBoxMore" th:each="image : ${images}">
                        <div class="carStatus"><p th:text="${car.status.IN_STOCK}"></p></div>
                        <img th:src="@{'/images/' + ${image.id}}" alt="car" class="carImg" />
                        <div class="carDown">
                            <h4 th:text="${car.name}"></h4>
                            <h3 th:text="${car.price}" class="carPrice"> $</h3>
                            <div class="carOption">
                                <div>
                                    <img src="https://cdn-icons-png.flaticon.com/128/9473/9473021.png" width="20px" height="20px" alt="png"
                                         class="carBat">
                                    <p th:text="${car.batery}"><span class="spanSil">battery</span> kWh</p>
                                </div>
                                <div>
                                    <img src="https://cdn-icons-png.flaticon.com/128/3393/3393779.png" width="20px" height="20px" alt="png" class="carBat">
                                    <p th:text="${car.powerReserve}"><span class="spanSil">power reserve </span>  km</p>
                                </div>
                                <div>
                                    <img src="https://cdn-icons-png.flaticon.com/128/2724/2724363.png" width="20px" height="20px" alt="png"
                                         class="carBat">
                                    <p th:text="${car.drivePrivod}"><span class="spanSil">drive:</span>
                                    </p>
                                </div>
                            </div>
                            <form th:action="'/garage/delete/'+ ${car.id}" method="post">
                                <button class="deleteBtn" type="submit" >DELETE</button>
                            </form>
                        </div>
                    </div>
            </div>
</main>

<div th:insert="blocks/footer::footer"></div>
<script src="../static/js/carousel.js"></script>
</body>
</html>