<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"/>
    <link href="../static/garage.css" th:href="@{/garage.css}" rel="stylesheet"/>
    <link href="../static/header.css" th:href="@{/header.css}" rel="stylesheet"/>
    <link href="../static/footer.css" th:href="@{/footer.css}" rel="stylesheet"/>
    <link href="../static/carousel.css" th:href="@{/carousel.css}" rel="stylesheet"/>

</head>
<body>
<div th:insert="blocks/header::header"></div>

<main class="garageCar">
    <form action="/garage/create" method="post" enctype="multipart/form-data">
        <input placeholder="Enter name car" class="carInp" type="text" name="name">
        <input placeholder="Enter price car" class="carInp" type="text" name="price">
        <input placeholder="Enter power reserve" class="carInp" type="text" name="powerReserve">
        <input placeholder="Enter batery power" class="carInp" type="text" name="batery">
        <input placeholder="Enter a drive" class="carInp" type="text" name="drivePrivod">
        <input placeholder="Enter type of carcas" class="carInp" type="text" name="typeCarcas">
        <select name="status" >
            <option value="IN_STOCK">in STOCK</option>
            <option value="TO_ORDER">to ORDER</option>
        </select>
        <textarea class="carArea" name="description"></textarea>
        <input type="file" name="file1" id="file1">
        <button class="carBtn" type="submit">ADD</button>
    </form>
</main>

<div th:insert="blocks/footer::footer"></div>
</body>
</html>