<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>NEWS ADD</title>
    <link href="../static/news.css" th:href="@{/news.css}" rel="stylesheet"/>
    <link href="../static/header.css" th:href="@{/header.css}" rel="stylesheet"/>
    <link href="../static/footer.css" th:href="@{/footer.css}" rel="stylesheet"/>
    <link href="../static/news.css" th:href="@{/news.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="blocks/header::header"></div>

<main class="addNewsWrapper">
    <div class="addNewsBox" >
        <h1 class="addNewsH">Edit NEWS</h1>
        <div th:each="el: ${news}">
            <form action="/news/edit/{el.id}" method="post">
                    <input type="text" name="title" th:value="${el.title}" placeholder="Enter title of news" >
                    <input type="text" name="anons" th:value="${el.anons}" placeholder="Enter anons of news" >
                    <textarea  name="full_text" th:text="${el.full_text}" placeholder="Enter full text of news" ></textarea>
                    <button type="submit">Edit</button>
            </form>
        </div>
    </div>
</main>
<div th:insert="blocks/footer::footer"></div>
</body>
</html>