<footer th:fragment="footer">
  <h1>
    Already want to buy an <span class="green">electrocar</span>? <a href="#"><span class="red">Call us</span></a>
  </h1>
  <div class="icons">
    <a href="#"><img src="../../public/insta.png" alt="foot" class="iconLink"></a>
    <a href="#"><img src="../../public/you.png" alt="foot" class="iconLink"></a>
    <a href="#"><img src="../../public/wh.png" alt="foot" class="iconLink"></a>
    <a href="#"><img src="../../public/tele.png" alt="foot" class="iconLink"></a>
  </div>
</footer>